/* background */
.root {
    -fx-background-color: #55C57A;
}

/* Button Styling */
.button {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-font-size: 14px;
    -fx-padding: 10px 20px;
    -fx-background-radius: 10px;
}

.button:hover {
    -fx-background-color: #44a065;
}

/* Progress */
.progress-bar {
    -fx-accent: #6aff00;
}

/* Label */
.tagLabel{
    -fx-background-color: white;
    -fx-padding: 5px;
}

.statusLabel{
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-font-family: "Roboto";
}

.timeLabel{
    -fx-text-fill: white;
    -fx-font-size: 40px;
    -fx-font-family: "Roboto";
}